<div class="fixed">
    <div class="wrapper">
        <div class="welcome">
            <a href="#" title="">
                <img src="resources/images/icons/topnav/userPic.png" alt="" />
            </a>
            <span>Hello, Mikey</span>
        </div>
        <div class="userNav">
            <ul>
                <li><a href="#" title=""><img src="resources/images/icons/topnav/profile.png" alt="" /><span>Profile</span></a></li>
                <li>
                    <a href="#" title="">
                        <img src="resources/images/icons/topnav/messages.png" alt="" />
                        <span>Notifications</span>
                        <span class="numberTop">8</span>
                    </a>
                </li>
                <li class="dd">
                    <a title="">
                        <img src="resources/images/icons/topnav/tasks.png" alt="" />
                        <span>Quick Tasks</span>
                        
                    </a>
                    <ul class="menu_body">
                        <li><a href="#" title="" class="sAdd">New Player</a></li>
                        <li><a href="#" title="" class="sInbox">New Team</a></li>
                        <li><a href="#" title="" class="sInbox">Fantasy Team</a></li>
                    </ul>
                </li>
                <li><a href="#" title=""><img src="resources/images/icons/topnav/settings.png" alt="" /><span>Settings</span></a></li>
                <li><a href="#" title=""><img src="resources/images/icons/topnav/question.png" alt="" /><span>Help</span></a></li>
                <li><a href="login.html" title=""><img src="resources/images/icons/topnav/logout.png" alt="" /><span>Logout</span></a></li>
            </ul>
        </div>
        <div class="fix"></div>
    </div>
</div>