/* ===== 14x14 icons ===== */

.iAbacus { background: url('/donejs/canbaseball/resources/images/icons/abacus.png') no-repeat 12px; }
.iAdd { background: url('/donejs/canbaseball/resources/images/icons/add.png') no-repeat 12px; }
.iAddressBook { background: url('/donejs/canbaseball/resources/images/icons/addressBook.png') no-repeat 12px; }
.iAdminUser { background: url('/donejs/canbaseball/resources/images/icons/adminUser.png') no-repeat 12px; }
.iAdminUser2 { background: url('/donejs/canbaseball/resources/images/icons/adminUser2.png') no-repeat 12px; }
.iAirplane { background: url('/donejs/canbaseball/resources/images/icons/airplane.png') no-repeat 12px; }
.iAlarm { background: url('/donejs/canbaseball/resources/images/icons/alarm.png') no-repeat 12px; }
.iAlert { background: url('/donejs/canbaseball/resources/images/icons/alert.png') no-repeat 12px; }
.iAlert2 { background: url('/donejs/canbaseball/resources/images/icons/alert2.png') no-repeat 12px; }
.iAndroid { background: url('/donejs/canbaseball/resources/images/icons/android.png') no-repeat 12px; }
.iArchive { background: url('/donejs/canbaseball/resources/images/icons/archive.png') no-repeat 12px; }
.iArrowDown { background: url('/donejs/canbaseball/resources/images/icons/arrowDown.png') no-repeat 12px; }
.iArrowLeft { background: url('/donejs/canbaseball/resources/images/icons/arrowLeft.png') no-repeat 12px; }
.iArrowRight { background: url('/donejs/canbaseball/resources/images/icons/arrowRight.png') no-repeat 12px; }
.iArrowUp { background: url('/donejs/canbaseball/resources/images/icons/arrowUp.png') no-repeat 12px; }

.iBag { background: url('/donejs/canbaseball/resources/images/icons/bag.png') no-repeat 12px; }
.iBaloons { background: url('/donejs/canbaseball/resources/images/icons/baloons.png') no-repeat 12px; }
.iBandaid { background: url('/donejs/canbaseball/resources/images/icons/bandaid.png') no-repeat 12px; }
.iBasket { background: url('/donejs/canbaseball/resources/images/icons/basket.png') no-repeat 12px; }
.iBasket2 { background: url('/donejs/canbaseball/resources/images/icons/basket2.png') no-repeat 12px; }
.iBattery { background: url('/donejs/canbaseball/resources/images/icons/battery.png') no-repeat 12px; }
.iBatteryFull { background: url('/donejs/canbaseball/resources/images/icons/batteryFull.png') no-repeat 12px; }
.iBell { background: url('/donejs/canbaseball/resources/images/icons/bell.png') no-repeat 12px; }
.iBell2 { background: url('/donejs/canbaseball/resources/images/icons/bell2.png') no-repeat 12px; }
.iBigBrush { background: url('/donejs/canbaseball/resources/images/icons/bigBrush.png') no-repeat 12px; }
.iBlackberry { background: url('/donejs/canbaseball/resources/images/icons/blackberry.png') no-repeat 12px; }
.iBlock { background: url('/donejs/canbaseball/resources/images/icons/block.png') no-repeat 12px; }
.iBlocks { background: url('/donejs/canbaseball/resources/images/icons/blocks.png') no-repeat 12px; }
.iBluetooth { background: url('/donejs/canbaseball/resources/images/icons/bluetooth.png') no-repeat 12px; }
.iBluetooth2 { background: url('/donejs/canbaseball/resources/images/icons/bluetooth2.png') no-repeat 12px; }
.iBluray { background: url('/donejs/canbaseball/resources/images/icons/bluray.png') no-repeat 12px; }
.iBook { background: url('/donejs/canbaseball/resources/images/icons/book.png') no-repeat 12px; }
.iBookLarge { background: url('/donejs/canbaseball/resources/images/icons/bookLarge.png') no-repeat 12px; }
.iBooks { background: url('/donejs/canbaseball/resources/images/icons/books.png') no-repeat 12px; }
.iBright { background: url('/donejs/canbaseball/resources/images/icons/bright.png') no-repeat 12px; }
.iBubbles { background: url('/donejs/canbaseball/resources/images/icons/bubbles.png') no-repeat 12px; }
.iBubbles2 { background: url('/donejs/canbaseball/resources/images/icons/bubbles2.png') no-repeat 12px; }
.iBuilding { background: url('/donejs/canbaseball/resources/images/icons/building.png') no-repeat 12px; }
.iBullsEye { background: url('/donejs/canbaseball/resources/images/icons/bullsEye.png') no-repeat 12px; }
.iBuzz { background: url('/donejs/canbaseball/resources/images/icons/buzz.png') no-repeat 12px; }

.iCalc { background: url('/donejs/canbaseball/resources/images/icons/calc.png') no-repeat 12px; }
.iCamera { background: url('/donejs/canbaseball/resources/images/icons/camera.png') no-repeat 12px; }
.iCamera2 { background: url('/donejs/canbaseball/resources/images/icons/camera2.png') no-repeat 12px; }
.iCar { background: url('/donejs/canbaseball/resources/images/icons/car.png') no-repeat 12px; }
.iCart { background: url('/donejs/canbaseball/resources/images/icons/cart.png') no-repeat 12px; }
.iCart2 { background: url('/donejs/canbaseball/resources/images/icons/cart2.png') no-repeat 12px; }
.iCart3 { background: url('/donejs/canbaseball/resources/images/icons/cart3.png') no-repeat 12px; }
.iCart4 { background: url('/donejs/canbaseball/resources/images/icons/cart4.png') no-repeat 12px; }
.iCashRegister { background: url('/donejs/canbaseball/resources/images/icons/cashRegister.png') no-repeat 12px; }
.iCassette { background: url('/donejs/canbaseball/resources/images/icons/cassette.png') no-repeat 12px; }
.iCat { background: url('/donejs/canbaseball/resources/images/icons/cat.png') no-repeat 12px; }
.iCd { background: url('/donejs/canbaseball/resources/images/icons/cd.png') no-repeat 12px; }
.iChair { background: url('/donejs/canbaseball/resources/images/icons/chair.png') no-repeat 12px; }
.iChart { background: url('/donejs/canbaseball/resources/images/icons/chart.png') no-repeat 12px; }
.iChart2 { background: url('/donejs/canbaseball/resources/images/icons/chart2.png') no-repeat 12px; }
.iChart3 { background: url('/donejs/canbaseball/resources/images/icons/chart3.png') no-repeat 12px; }
.iChart4 { background: url('/donejs/canbaseball/resources/images/icons/chart4.png') no-repeat 12px; }
.iChart5 { background: url('/donejs/canbaseball/resources/images/icons/chart5.png') no-repeat 12px; }
.iChart6 { background: url('/donejs/canbaseball/resources/images/icons/chart6.png') no-repeat 12px; }
.iChart7 { background: url('/donejs/canbaseball/resources/images/icons/chart7.png') no-repeat 12px; }
.iChart8 { background: url('/donejs/canbaseball/resources/images/icons/chart8.png') no-repeat 12px; }
.iCheck { background: url('/donejs/canbaseball/resources/images/icons/check.png') no-repeat 12px; }
.iChemical { background: url('/donejs/canbaseball/resources/images/icons/chemical.png') no-repeat 12px; }
.iChrome { background: url('/donejs/canbaseball/resources/images/icons/chrome.png') no-repeat 12px; }
.iClipboard { background: url('/donejs/canbaseball/resources/images/icons/clipboard.png') no-repeat 12px; }
.iClock { background: url('/donejs/canbaseball/resources/images/icons/clock.png') no-repeat 12px; }
.iClose { background: url('/donejs/canbaseball/resources/images/icons/close.png') no-repeat 12px; }
.iCloud { background: url('/donejs/canbaseball/resources/images/icons/cloud.png') no-repeat 12px; }
.iCloudDownload { background: url('/donejs/canbaseball/resources/images/icons/cloudDownload.png') no-repeat 12px; }
.iCloudUpload { background: url('/donejs/canbaseball/resources/images/icons/cloudUpload.png') no-repeat 12px; }
.iCog { background: url('/donejs/canbaseball/resources/images/icons/cog.png') no-repeat 12px; }
.iCog2 { background: url('/donejs/canbaseball/resources/images/icons/cog2.png') no-repeat 12px; }
.iCog3 { background: url('/donejs/canbaseball/resources/images/icons/cog3.png') no-repeat 12px; }
.iCog4 { background: url('/donejs/canbaseball/resources/images/icons/cog4.png') no-repeat 12px; }
.iCompanies { background: url('/donejs/canbaseball/resources/images/icons/companies.png') no-repeat 12px; }
.iComputer { background: url('/donejs/canbaseball/resources/images/icons/computer.png') no-repeat 12px; }
.iCoverflow { background: url('/donejs/canbaseball/resources/images/icons/coverflow.png') no-repeat 12px; }
.iCreate { background: url('/donejs/canbaseball/resources/images/icons/create.png') no-repeat 12px; }
.iCup { background: url('/donejs/canbaseball/resources/images/icons/cup.png') no-repeat 12px; }
.iCut { background: url('/donejs/canbaseball/resources/images/icons/cut.png') no-repeat 12px; }

.iDayCalendar { background: url('/donejs/canbaseball/resources/images/icons/dayCalendar.png') no-repeat 12px; }
.iDelicious { background: url('/donejs/canbaseball/resources/images/icons/delicious.png') no-repeat 12px; }
.iDenied { background: url('/donejs/canbaseball/resources/images/icons/denied.png') no-repeat 12px; }
.iDialog { background: url('/donejs/canbaseball/resources/images/icons/dialog.png') no-repeat 12px; }
.iDigg { background: url('/donejs/canbaseball/resources/images/icons/digg.png') no-repeat 12px; }
.iDigg2 { background: url('/donejs/canbaseball/resources/images/icons/digg2.png') no-repeat 12px; }
.iDoc { background: url('/donejs/canbaseball/resources/images/icons/doc.png') no-repeat 12px; }
.iDocs { background: url('/donejs/canbaseball/resources/images/icons/docs.png') no-repeat 12px; }
.iDownload { background: url('/donejs/canbaseball/resources/images/icons/download.png') no-repeat 12px; }
.iDownload2 { background: url('/donejs/canbaseball/resources/images/icons/download2.png') no-repeat 12px; }
.iDownload3 { background: url('/donejs/canbaseball/resources/images/icons/download3.png') no-repeat 12px; }
.iDribbble { background: url('/donejs/canbaseball/resources/images/icons/dribbble.png') no-repeat 12px; }
.iDribbble2 { background: url('/donejs/canbaseball/resources/images/icons/dribbble2.png') no-repeat 12px; }
.iDrive { background: url('/donejs/canbaseball/resources/images/icons/drive.png') no-repeat 12px; }
.iDropbox { background: url('/donejs/canbaseball/resources/images/icons/dropbox.png') no-repeat 12px; }
.iDropper { background: url('/donejs/canbaseball/resources/images/icons/dropper.png') no-repeat 12px; }
.iDrupal { background: url('/donejs/canbaseball/resources/images/icons/drupal.png') no-repeat 12px; }
.iDvd { background: url('/donejs/canbaseball/resources/images/icons/dvd.png') no-repeat 12px; }

.iElectricity { background: url('/donejs/canbaseball/resources/images/icons/electricity.png') no-repeat 12px; }
.iElectroPlug { background: url('/donejs/canbaseball/resources/images/icons/electroPlug.png') no-repeat 12px; }
.iExcelDoc { background: url('/donejs/canbaseball/resources/images/icons/excelDoc.png') no-repeat 12px; }
.iExit { background: url('/donejs/canbaseball/resources/images/icons/exit.png') no-repeat 12px; }
.iExpengine { background: url('/donejs/canbaseball/resources/images/icons/expengine.png') no-repeat 12px; }
.iExpose { background: url('/donejs/canbaseball/resources/images/icons/expose.png') no-repeat 12px; }

.iFacebook { background: url('/donejs/canbaseball/resources/images/icons/facebook.png') no-repeat 12px; }
.iFax { background: url('/donejs/canbaseball/resources/images/icons/fax.png') no-repeat 12px; }
.iFemaleContour { background: url('/donejs/canbaseball/resources/images/icons/femaleContour.png') no-repeat 12px; }
.iFemaleSymbol { background: url('/donejs/canbaseball/resources/images/icons/femaleSymbol.png') no-repeat 12px; }
.iFiles { background: url('/donejs/canbaseball/resources/images/icons/files.png') no-repeat 12px; }
.iFilmCamera { background: url('/donejs/canbaseball/resources/images/icons/filmCamera.png') no-repeat 12px; }
.iFilmStrip { background: url('/donejs/canbaseball/resources/images/icons/filmStrip.png') no-repeat 12px; }
.iFilmStrip2 { background: url('/donejs/canbaseball/resources/images/icons/filmStrip2.png') no-repeat 12px; }
.iFirefox { background: url('/donejs/canbaseball/resources/images/icons/firefox.png') no-repeat 12px; }
.iFlag { background: url('/donejs/canbaseball/resources/images/icons/flag.png') no-repeat 12px; }
.iFlag2 { background: url('/donejs/canbaseball/resources/images/icons/flag2.png') no-repeat 12px; }
.iFlagFinished { background: url('/donejs/canbaseball/resources/images/icons/flagFinished.png') no-repeat 12px; }
.iFolder { background: url('/donejs/canbaseball/resources/images/icons/folder.png') no-repeat 12px; }
.iFootprints { background: url('/donejs/canbaseball/resources/images/icons/footprints.png') no-repeat 12px; }
.iFountainPen { background: url('/donejs/canbaseball/resources/images/icons/fountainPen.png') no-repeat 12px; }
.iFrames { background: url('/donejs/canbaseball/resources/images/icons/frames.png') no-repeat 12px; }
.iFull { background: url('/donejs/canbaseball/resources/images/icons/full.png') no-repeat 12px; }
.iFull2 { background: url('/donejs/canbaseball/resources/images/icons/full2.png') no-repeat 12px; }
.iFullscreen { background: url('/donejs/canbaseball/resources/images/icons/fullscreen.png') no-repeat 12px; }

.iGlobe { background: url('/donejs/canbaseball/resources/images/icons/globe.png') no-repeat 12px; }
.iGlobe2 { background: url('/donejs/canbaseball/resources/images/icons/globe2.png') no-repeat 12px; }
.iGmaps { background: url('/donejs/canbaseball/resources/images/icons/gmaps.png') no-repeat 12px; }
.iGoBack { background: url('/donejs/canbaseball/resources/images/icons/goBack.png') no-repeat 12px; }
.iGoFull { background: url('/donejs/canbaseball/resources/images/icons/goFull.png') no-repeat 12px; }
.iGraph { background: url('/donejs/canbaseball/resources/images/icons/graph.png') no-repeat 12px; }

.iHeart { background: url('/donejs/canbaseball/resources/images/icons/heart.png') no-repeat 12px; }
.iHd { background: url('/donejs/canbaseball/resources/images/icons/hd.png') no-repeat 12px; }
.iHd2 { background: url('/donejs/canbaseball/resources/images/icons/hd2.png') no-repeat 12px; }
.iHd3 { background: url('/donejs/canbaseball/resources/images/icons/hd3.png') no-repeat 12px; }
.iHeadphones { background: url('/donejs/canbaseball/resources/images/icons/headphones.png') no-repeat 12px; }
.iHelp { background: url('/donejs/canbaseball/resources/images/icons/help.png') no-repeat 12px; }
.iHome { background: url('/donejs/canbaseball/resources/images/icons/home.png') no-repeat 12px; }
.iHome2 { background: url('/donejs/canbaseball/resources/images/icons/home2.png') no-repeat 12px; }

.iIcecream { background: url('/donejs/canbaseball/resources/images/icons/icecream.png') no-repeat 12px; }
.iIchat { background: url('/donejs/canbaseball/resources/images/icons/ichat.png') no-repeat 12px; }
.iImage { background: url('/donejs/canbaseball/resources/images/icons/image.png') no-repeat 12px; }
.iImage2 { background: url('/donejs/canbaseball/resources/images/icons/image2.png') no-repeat 12px; }
.iImageList { background: url('/donejs/canbaseball/resources/images/icons/imageList.png') no-repeat 12px; }
.iImages { background: url('/donejs/canbaseball/resources/images/icons/images.png') no-repeat 12px; }
.iImages2 { background: url('/donejs/canbaseball/resources/images/icons/images2.png') no-repeat 12px; }
.iImagesList { background: url('/donejs/canbaseball/resources/images/icons/imagesList.png') no-repeat 12px; }
.iInbox { background: url('/donejs/canbaseball/resources/images/icons/inbox.png') no-repeat 12px; }
.iInbox2 { background: url('/donejs/canbaseball/resources/images/icons/inbox2.png') no-repeat 12px; }
.iIncoming { background: url('/donejs/canbaseball/resources/images/icons/incoming.png') no-repeat 12px; }
.iInfo { background: url('/donejs/canbaseball/resources/images/icons/info.png') no-repeat 12px; }
.iIpad { background: url('/donejs/canbaseball/resources/images/icons/ipad.png') no-repeat 12px; }
.iIphone { background: url('/donejs/canbaseball/resources/images/icons/iphone.png') no-repeat 12px; }
.iIpodClassic { background: url('/donejs/canbaseball/resources/images/icons/ipodClassic.png') no-repeat 12px; }
.iIpodNano { background: url('/donejs/canbaseball/resources/images/icons/ipodNano.png') no-repeat 12px; }

.iJoomla { background: url('/donejs/canbaseball/resources/images/icons/joomla.png') no-repeat 12px; }

.iKey { background: url('/donejs/canbaseball/resources/images/icons/key.png') no-repeat 12px; }

.iLadyPurse { background: url('/donejs/canbaseball/resources/images/icons/ladyPurse.png') no-repeat 12px; }
.iLamp { background: url('/donejs/canbaseball/resources/images/icons/lamp.png') no-repeat 12px; }
.iLaptop { background: url('/donejs/canbaseball/resources/images/icons/laptop.png') no-repeat 12px; }
.iLastFM { background: url('/donejs/canbaseball/resources/images/icons/lastFM.png') no-repeat 12px; }
.iLemonadeStand { background: url('/donejs/canbaseball/resources/images/icons/lemonadeStand.png') no-repeat 12px; }
.iLightBulb { background: url('/donejs/canbaseball/resources/images/icons/lightBulb.png') no-repeat 12px; }
.iLike { background: url('/donejs/canbaseball/resources/images/icons/like.png') no-repeat 12px; }
.iLink { background: url('/donejs/canbaseball/resources/images/icons/link.png') no-repeat 12px; }
.iLink2 { background: url('/donejs/canbaseball/resources/images/icons/link2.png') no-repeat 12px; }
.iLinux { background: url('/donejs/canbaseball/resources/images/icons/linux.png') no-repeat 12px; }
.iList { background: url('/donejs/canbaseball/resources/images/icons/list.png') no-repeat 12px; }
.iLoading { background: url('/donejs/canbaseball/resources/images/icons/loading.png') no-repeat 12px; }
.iLogoff { background: url('/donejs/canbaseball/resources/images/icons/logoff.png') no-repeat 12px; }
.iLocked { background: url('/donejs/canbaseball/resources/images/icons/locked.png') no-repeat 12px; }
.iLocked2 { background: url('/donejs/canbaseball/resources/images/icons/locked2.png') no-repeat 12px; }

.iMacos { background: url('/donejs/canbaseball/resources/images/icons/macos.png') no-repeat 12px; }
.iMagicMouse { background: url('/donejs/canbaseball/resources/images/icons/magicMouse.png') no-repeat 12px; }
.iMagnify { background: url('/donejs/canbaseball/resources/images/icons/magnify.png') no-repeat 12px; }
.iMail { background: url('/donejs/canbaseball/resources/images/icons/mail.png') no-repeat 12px; }
.iMaleContour { background: url('/donejs/canbaseball/resources/images/icons/maleContour.png') no-repeat 12px; }
.iMaleSymbol { background: url('/donejs/canbaseball/resources/images/icons/maleSymbol.png') no-repeat 12px; }
.iMap { background: url('/donejs/canbaseball/resources/images/icons/map.png') no-repeat 12px; }
.iMedicalCase { background: url('/donejs/canbaseball/resources/images/icons/medicalCase.png') no-repeat 12px; }
.iMegaphone { background: url('/donejs/canbaseball/resources/images/icons/megaphone.png') no-repeat 12px; }
.iMicrophone { background: url('/donejs/canbaseball/resources/images/icons/microphone.png') no-repeat 12px; }
.iMightyMouse { background: url('/donejs/canbaseball/resources/images/icons/mightyMouse.png') no-repeat 12px; }
.iMobile { background: url('/donejs/canbaseball/resources/images/icons/mobile.png') no-repeat 12px; }
.iMobyPicture { background: url('/donejs/canbaseball/resources/images/icons/mobyPicture.png') no-repeat 12px; }
.iMoney { background: url('/donejs/canbaseball/resources/images/icons/money.png') no-repeat 12px; }
.iMoney2 { background: url('/donejs/canbaseball/resources/images/icons/money2.png') no-repeat 12px; }
.iMonitor { background: url('/donejs/canbaseball/resources/images/icons/monitor.png') no-repeat 12px; }
.iMonthCalendar { background: url('/donejs/canbaseball/resources/images/icons/monthCalendar.png') no-repeat 12px; }
.iMouse { background: url('/donejs/canbaseball/resources/images/icons/mouse.png') no-repeat 12px; }
.iMusic { background: url('/donejs/canbaseball/resources/images/icons/music.png') no-repeat 12px; }
.iMyspace { background: url('/donejs/canbaseball/resources/images/icons/myspace.png') no-repeat 12px; }

.iNotebook { background: url('/donejs/canbaseball/resources/images/icons/notebook.png') no-repeat 12px; }

.iOutgoing { background: url('/donejs/canbaseball/resources/images/icons/outgoing.png') no-repeat 12px; }

.iPacman { background: url('/donejs/canbaseball/resources/images/icons/pacman.png') no-repeat 12px; }
.iPaintBrush { background: url('/donejs/canbaseball/resources/images/icons/paintBrush.png') no-repeat 12px; }
.iPants { background: url('/donejs/canbaseball/resources/images/icons/pants.png') no-repeat 12px; }
.iPaperclip { background: url('/donejs/canbaseball/resources/images/icons/paperclip.png') no-repeat 12px; }
.iPaypal { background: url('/donejs/canbaseball/resources/images/icons/paypal.png') no-repeat 12px; }
.iPaypal2 { background: url('/donejs/canbaseball/resources/images/icons/paypal2.png') no-repeat 12px; }
.iPaypal3 { background: url('/donejs/canbaseball/resources/images/icons/paypal3.png') no-repeat 12px; }
.iPdfDoc { background: url('/donejs/canbaseball/resources/images/icons/pdfDoc.png') no-repeat 12px; }
.iPencil { background: url('/donejs/canbaseball/resources/images/icons/pencil.png') no-repeat 12px; }
.iPhone { background: url('/donejs/canbaseball/resources/images/icons/phone.png') no-repeat 12px; }
.iPhone2 { background: url('/donejs/canbaseball/resources/images/icons/phone2.png') no-repeat 12px; }
.iPhone3 { background: url('/donejs/canbaseball/resources/images/icons/phone3.png') no-repeat 12px; }
.iPhotos { background: url('/donejs/canbaseball/resources/images/icons/photos.png') no-repeat 12px; }
.iPiggyBank { background: url('/donejs/canbaseball/resources/images/icons/piggyBank.png') no-repeat 12px; }
.iPin { background: url('/donejs/canbaseball/resources/images/icons/pin.png') no-repeat 12px; }
.iPlaneSuitcase { background: url('/donejs/canbaseball/resources/images/icons/planeSuitcase.png') no-repeat 12px; }
.iPlay { background: url('/donejs/canbaseball/resources/images/icons/play.png') no-repeat 12px; }
.iPlay2 { background: url('/donejs/canbaseball/resources/images/icons/play2.png') no-repeat 12px; }
.iPlixi { background: url('/donejs/canbaseball/resources/images/icons/plixi.png') no-repeat 12px; }
.iPodium { background: url('/donejs/canbaseball/resources/images/icons/podium.png') no-repeat 12px; }
.iPostcard { background: url('/donejs/canbaseball/resources/images/icons/postcard.png') no-repeat 12px; }
.iPower { background: url('/donejs/canbaseball/resources/images/icons/power.png') no-repeat 12px; }
.iPowerBattery { background: url('/donejs/canbaseball/resources/images/icons/powerBattery.png') no-repeat 12px; }
.iPpDoc { background: url('/donejs/canbaseball/resources/images/icons/ppDoc.png') no-repeat 12px; }
.iPresentation { background: url('/donejs/canbaseball/resources/images/icons/presentation.png') no-repeat 12px; }
.iPreview { background: url('/donejs/canbaseball/resources/images/icons/preview.png') no-repeat 12px; }
.iPriceTag { background: url('/donejs/canbaseball/resources/images/icons/pricetag.png') no-repeat 12px; }
.iPriceTags { background: url('/donejs/canbaseball/resources/images/icons/priceTags.png') no-repeat 12px; }
.iPrinter { background: url('/donejs/canbaseball/resources/images/icons/printer.png') no-repeat 12px; }

.iRadio { background: url('/donejs/canbaseball/resources/images/icons/radio.png') no-repeat 12px; }
.iRecord { background: url('/donejs/canbaseball/resources/images/icons/record.png') no-repeat 12px; }
.iRecycle { background: url('/donejs/canbaseball/resources/images/icons/recycle.png') no-repeat 12px; }
.iRefresh { background: url('/donejs/canbaseball/resources/images/icons/refresh.png') no-repeat 12px; }
.iRefresh2 { background: url('/donejs/canbaseball/resources/images/icons/refresh2.png') no-repeat 12px; }
.iRefresh3 { background: url('/donejs/canbaseball/resources/images/icons/refresh3.png') no-repeat 12px; }
.iRefresh4 { background: url('/donejs/canbaseball/resources/images/icons/refresh4.png') no-repeat 12px; }
.iRepeat { background: url('/donejs/canbaseball/resources/images/icons/repeat.png') no-repeat 12px; }
.iRobot { background: url('/donejs/canbaseball/resources/images/icons/robot.png') no-repeat 12px; }
.iRss { background: url('/donejs/canbaseball/resources/images/icons/iRss.png') no-repeat 12px; }
.iRuler { background: url('/donejs/canbaseball/resources/images/icons/ruler.png') no-repeat 12px; }
.iRuler2 { background: url('/donejs/canbaseball/resources/images/icons/ruler2.png') no-repeat 12px; }
.iRunningMan { background: url('/donejs/canbaseball/resources/images/icons/runningMan.png') no-repeat 12px; }

.iSafari { background: url('/donejs/canbaseball/resources/images/icons/safari.png') no-repeat 12px; }
.iScanLabel { background: url('/donejs/canbaseball/resources/images/icons/scanLabel.png') no-repeat 12px; }
.iSd { background: url('/donejs/canbaseball/resources/images/icons/sd.png') no-repeat 12px; }
.iSd2 { background: url('/donejs/canbaseball/resources/images/icons/sd2.png') no-repeat 12px; }
.iSd3 { background: url('/donejs/canbaseball/resources/images/icons/sd3.png') no-repeat 12px; }
.iSettings { background: url('/donejs/canbaseball/resources/images/icons/settings.png') no-repeat 12px; }
.iSettings2 { background: url('/donejs/canbaseball/resources/images/icons/settings2.png') no-repeat 12px; }
.iShirt { background: url('/donejs/canbaseball/resources/images/icons/shirt.png') no-repeat 12px; }
.iShoppingBag { background: url('/donejs/canbaseball/resources/images/icons/shoppingBag.png') no-repeat 12px; }
.iShuffle { background: url('/donejs/canbaseball/resources/images/icons/shuffle.png') no-repeat 12px; }
.iSignal { background: url('/donejs/canbaseball/resources/images/icons/signal.png') no-repeat 12px; }
.iSignPost { background: url('/donejs/canbaseball/resources/images/icons/signPost.png') no-repeat 12px; }
.iSkype { background: url('/donejs/canbaseball/resources/images/icons/skype.png') no-repeat 12px; }
.iSmallBrush { background: url('/donejs/canbaseball/resources/images/icons/smallBrush.png') no-repeat 12px; }
.iSocks { background: url('/donejs/canbaseball/resources/images/icons/socks.png') no-repeat 12px; }
.iSound { background: url('/donejs/canbaseball/resources/images/icons/sound.png') no-repeat 12px; }
.iSpeech { background: url('/donejs/canbaseball/resources/images/icons/speech.png') no-repeat 12px; }
.iSpeech2 { background: url('/donejs/canbaseball/resources/images/icons/speech2.png') no-repeat 12px; }
.iStar { background: url('/donejs/canbaseball/resources/images/icons/star.png') no-repeat 12px; }
.iStats { background: url('/donejs/canbaseball/resources/images/icons/stats.png') no-repeat 12px; }
.iStop { background: url('/donejs/canbaseball/resources/images/icons/stop.png') no-repeat 12px; }
.iStopWatch { background: url('/donejs/canbaseball/resources/images/icons/stopWatch.png') no-repeat 12px; }
.iStrategy { background: url('/donejs/canbaseball/resources/images/icons/strategy.png') no-repeat 12px; }
.iStrategy2 { background: url('/donejs/canbaseball/resources/images/icons/strategy2.png') no-repeat 12px; }
.iStumble { background: url('/donejs/canbaseball/resources/images/icons/stumble.png') no-repeat 12px; }
.iSuitcase { background: url('/donejs/canbaseball/resources/images/icons/suitcase.png') no-repeat 12px; }
.iSwitcher { background: url('/donejs/canbaseball/resources/images/icons/switcher.png') no-repeat 12px; }

.iTable { background: url('/donejs/canbaseball/resources/images/icons/table.png') no-repeat 12px; }
.iTag { background: url('/donejs/canbaseball/resources/images/icons/tag.png') no-repeat 12px; }
.iTags { background: url('/donejs/canbaseball/resources/images/icons/tags.png') no-repeat 12px; }
.iTimer { background: url('/donejs/canbaseball/resources/images/icons/timer.png') no-repeat 12px; }
.iTransfer { background: url('/donejs/canbaseball/resources/images/icons/transfer.png') no-repeat 12px; }
.iTrash { background: url('/donejs/canbaseball/resources/images/icons/trash.png') no-repeat 12px; }
.iTravelSuitcase { background: url('/donejs/canbaseball/resources/images/icons/travelSuitcase.png') no-repeat 12px; }
.iTree { background: url('/donejs/canbaseball/resources/images/icons/tree.png') no-repeat 12px; }
.iTrolly { background: url('/donejs/canbaseball/resources/images/icons/trolly.png') no-repeat 12px; }
.iTruck { background: url('/donejs/canbaseball/resources/images/icons/truck.png') no-repeat 12px; }
.iTumbler { background: url('/donejs/canbaseball/resources/images/icons/tumbler.png') no-repeat 12px; }
.iTv { background: url('/donejs/canbaseball/resources/images/icons/tv.png') no-repeat 12px; }
.iTwitter { background: url('/donejs/canbaseball/resources/images/icons/twitter.png') no-repeat 12px; }
.iTwitter2 { background: url('/donejs/canbaseball/resources/images/icons/twitter2.png') no-repeat 12px; }

.iUmbrella { background: url('/donejs/canbaseball/resources/images/icons/radio.png') no-repeat 12px; }
.iUnderConstruction { background: url('/donejs/canbaseball/resources/images/icons/underConstruction.png') no-repeat 12px; }
.iUnlocked { background: url('/donejs/canbaseball/resources/images/icons/unlocked.png') no-repeat 12px; }
.iUpload { background: url('/donejs/canbaseball/resources/images/icons/upload.png') no-repeat 12px; }
.iUser { background: url('/donejs/canbaseball/resources/images/icons/user.png') no-repeat 12px; }
.iUser2 { background: url('/donejs/canbaseball/resources/images/icons/user2.png') no-repeat 12px; }
.iUserComment { background: url('/donejs/canbaseball/resources/images/icons/userComment.png') no-repeat 12px; }
.iUsers { background: url('/donejs/canbaseball/resources/images/icons/users.png') no-repeat 12px; }
.iUsers2 { background: url('/donejs/canbaseball/resources/images/icons/users2.png') no-repeat 12px; }

.iVault { background: url('/donejs/canbaseball/resources/images/icons/vault.png') no-repeat 12px; }
.iVcard { background: url('/donejs/canbaseball/resources/images/icons/vcard.png') no-repeat 12px; }
.iView { background: url('/donejs/canbaseball/resources/images/icons/view.png') no-repeat 12px; }
.iVimeo { background: url('/donejs/canbaseball/resources/images/icons/vimeo.png') no-repeat 12px; }
.iVimeo2 { background: url('/donejs/canbaseball/resources/images/icons/vimeo2.png') no-repeat 12px; }

.iWalkingMan { background: url('/donejs/canbaseball/resources/images/icons/walkingMan.png') no-repeat 12px; }
.iWifi { background: url('/donejs/canbaseball/resources/images/icons/wifi.png') no-repeat 12px; }
.iWifi2 { background: url('/donejs/canbaseball/resources/images/icons/wifi2.png') no-repeat 12px; }
.iWindows { background: url('/donejs/canbaseball/resources/images/icons/windows.png') no-repeat 12px; }
.iWordDoc { background: url('/donejs/canbaseball/resources/images/icons/wordDoc.png') no-repeat 12px; }
.iWordpress { background: url('/donejs/canbaseball/resources/images/icons/wordpress.png') no-repeat 12px; }
.iWordpress2 { background: url('/donejs/canbaseball/resources/images/icons/wordpress2.png') no-repeat 12px; }

.iYoutube { background: url('/donejs/canbaseball/resources/images/icons/youtube.png') no-repeat 12px; }

.iZip { background: url('/donejs/canbaseball/resources/images/icons/zip.png') no-repeat 12px; }
.iZipFiles { background: url('/donejs/canbaseball/resources/images/icons/zipFiles.png') no-repeat 12px; }
