<ul class="scoreboard" <%= (el)-> el.data('scoreboard', scoreboard) %>>
	<% if (!scoreboard.attr("cloudProviderExists")) { %>
		<li class="score">
			<button id="configureCloudProvider" class="punch required">Configure Cloud Provider</button>
		</li>
	<% } else if (!scoreboard.attr("cacheExists")) { %>
		<li class="score">
			<button class="punch required">Configure Cache</button>
		</li>
	<% } else { %>
		<% list(scoreboard.attr('scores'), function( score ) { %>
			<li class="score" <%= (el)-> el.data('score', score) %>>
				<button class="punch"><%= score.attr("label") %></button>
			</li>
		<% }) %>		
	<% } %>
</ul>
<div class="clearfix"></div>