<form action="" class="sidebarSearch">
    <input type="text" name="search" placeholder="<%= $.t("cloudarray.search.placeholder", "Search...") %>" id="ac" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
    <input type="submit" value="">
</form>